/HandlerTests.class
/ParserTests.class
/UITestCases.class
/StorageTestCases.class
/AddTest.class
/DeleteTest.class
/DoneTest.class
/EditTest.class
/UndoTest.class
/NaturalLanguageTest.class
/ParserTest.class
/UIControllerTest.class
/ReadTest.class
/SetDirectoryTest.class
/WriteTest.class
/HandlerTestSuite.class
/StorageTestSuite.class
/ParserTestSuite.class
/UITestSuite.class
/AllTests.class
/ReadWriteXmlTest.class
