/Constants$COMMAND_TYPE.class
/Constants.class
/Logic.class
/Parser.class
/Storage.class
/UserInterface.class
/Handler.class
/ParserTest.class
/Task.class
/UserInterface$1.class
/PreviousInput.class
/Task$1.class
/Task$2.class
/Task$3.class
/Task$4.class
/NaturalLanguage.class
/NaturalLanguageTest.class
/Task$5.class
