/Constants$COMMAND_TYPE.class
/Constants.class
/Logic.class
/Parser.class
/Storage.class
/UserInterface.class
/Handler.class
/ParserTest.class
/Task.class
/UserInterface$1.class
/PreviousInput.class
/Task$1.class
/Task$2.class
/Task$3.class
/Task$4.class
/NaturalLanguage.class
/NaturalLanguageTest.class
/Task$5.class
/Read.class
/Retrieve.class
/SetDirectory.class
/Write.class
/Help.class
/Task$6.class
/Date.class
/Constants$COMMAND_STATE.class
